body {
    background-color: #1a237e;
    line-height: 1.6rem;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.accordian {
    background-color: #e3f2fd;
    box-shadow: 1px 1px 5px #5760c3;
    padding: 4px 16px;
    margin-bottom: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon {
    margin-right: 6px;
    transition: transform 0.2s;
}
.icon.active {
    transform: rotate(-180deg);
}

.answer {
    color: #333;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}